header {
  display: flex;
  height: var(--header-height);
  max-height: var(--header-height);
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  padding-inline: 30px;
  gap: 16px;
  z-index: 1000;
}
.mainheader {
  width: 80px;
  display: flex;
  flex-direction: row;
  color: aliceblue;
}
.headtitle {
  display: flex;
  width: 300px;
}
.logo {
  height: 100%;
  font-size: 20px;
  display: flex;
  background-color: #d7ff2e;
  width: 35px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
.mainheader {
  display: flex;
  flex-direction: row;
  width: 220px;
  padding-left: 10px;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

ul {
  display: flex;
  height: 100%;
}
.link {
  font-size: 18px;
  display: flex;
  color: aliceblue;
  padding-inline: 35px;
  text-transform: capitalize;
}
button {
  background-color: #1a56ff;
  height: 33px;
  width: 80px;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 15px;
  font-family: "Archivo", sans-serif;
  border: none;
}

.pill {
  width: 40%;
  display: flex;
  justify-content: center;
  margin-top: 00px;
  margin-left: 50px;
  color: #d7ff2e;
  letter-spacing: 7px;
  background-color: #d8ee7525;
  border-radius: 20px;
  position: relative;
}
.hero {
  background-color: #0b1b2b;
  background: #0b1b2b;
  background: linear-gradient(
    50deg,
    rgba(11, 27, 43, 1) 0%,
    rgba(11, 27, 43, 1) 67%,
    rgba(26, 86, 255, 1) 100%
  );
  height: calc(100vh - var(--header-height));
  margin-top: 30px;
}
.hero-container {
  display: block;
}
.hero-content {
  margin-top: -20px;
  width: 700px;
  height: 300px;
  padding-left: 50px;
  padding-top: 0px;
  font-size: 100px;
  color: #ffffff;
}
.panner {
  display: flex;
  flex-direction: row;
}
.hero-panner {
  padding-left: 50px;
  padding-top: 0px;
  font-size: 100px;
  color: #d7ff2e;
  margin-top: -50px;
}
.hero-panner1 {
  display: flex;
  padding-left: 20px;
  font-size: 100px;
  color: #ffffff;
  margin-top: -50px;
}
.paragraph {
  width: 600px;
  display: flex;
  padding-left: 50px;
  font-size: 20px;
  font-weight: 10px;
  color: #5a6b7b;
  text-transform: capitalize;
  font-family: "arial", sans-serif;
}
.buttons {
  display: flex;
  padding-left: 50px;
  padding-top: 20px;
  gap: 10px;
}
.browse {
  width: 200px;
  height: 50px;
  background-color: #d7ff2e;
  color: #0b1b2b;
}
.views {
  width: 150px;
  height: 50px;

  background-color: #0b1b2b;
  color: #ffffff;
  border-color: #5a6b7b;
  border: 2px solid #5a6b7b;
}
